@tailwind base;

.body-bg {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  #services-hero {
      background-size: cover;
      background-position: center;
      background-image: url("https://images.unsplash.com/photo-1564195645790-3931fc3a98d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); /* fallback */
      background-image: url("https://images.unsplash.com/photo-1564195645790-3931fc3a98d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"), linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* W3C */
  
  }
  
  .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 0;
      border-color: transparent #1a202c transparent transparent;
    }





@tailwind components;
@tailwind utilities;
